.page-wanneng .page-content {
    position: relative;
}

.page-wanneng .page-content img {
    border: 0;
    margin: 0;
    padding: 0;
}

.page-wanneng .am {
    position: absolute;
}

.page-wanneng .am img {
    width: 100%;
}

.page-wanneng .wanneng {
    display: none;
}

.page-wanneng .wanneng.hinge {
    -webkit-animation: 2s ease;
    -moz-animation: 2s ease;
    -ms-animation: 2s ease;
    -o-animation: 2s ease;
    animation: 2s ease;
}

.page-wanneng .wanneng {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }

    70% {
        -moz-transform: scale(.9);
    }

    100% {
        -moz-transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
}

@-webkit-keyframes bounceOut {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(0.95);
    }

    70% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.3);
    }
}

@-moz-keyframes bounceOut {
    0% {
        opacity: 0;
        -moz-transform: scale(1);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(0.95);
    }

    70% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(0.3);
    }
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(-30px);
    }

    80% {
        -moz-transform: translateY(10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    -moz-animation-name: bounceInUp;
}

@-webkit-keyframes bounceInSmallUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30);
    }

    80% {
        -webkit-transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInSmallUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(-30px);
    }

    80% {
        -moz-transform: translateY(10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

.bounceInSmallUp {
    -webkit-animation-name: bounceInSmallUp;
    -moz-animation-name: bounceInSmallUp;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
}

@-webkit-keyframes bounceInSmallDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInSmallDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(30px);
    }

    80% {
        -moz-transform: translateY(-10px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

.bounceInSmallDown {
    -webkit-animation-name: bounceInSmallDown;
    -moz-animation-name: bounceInSmallDown;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(30px);
    }

    80% {
        -moz-transform: translateX(-10px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInSmallLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInSmallLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(30px);
    }

    80% {
        -moz-transform: translateX(-10px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

.bounceInSmallLeft {
    -webkit-animation-name: bounceInSmallLeft;
    -moz-animation-name: bounceInSmallLeft;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-30px);
    }

    80% {
        -moz-transform: translateX(10px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
}

@-webkit-keyframes bounceInSmallRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInSmallRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-30px);
    }

    80% {
        -moz-transform: translateX(10px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

.bounceInSmallRight {
    -webkit-animation-name: bounceInSmallRight;
    -moz-animation-name: bounceInSmallRight;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
}

@-webkit-keyframes fadeInMidUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInMidUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInMidUp {
    -webkit-animation-name: fadeInMidUp;
    -moz-animation-name: fadeInMidUp;
}

@-webkit-keyframes fadeInMidDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInMidDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInMidDown {
    -webkit-animation-name: fadeInMidDown;
    -moz-animation-name: fadeInMidDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInMidLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInMidLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInMidLeft {
    -webkit-animation-name: fadeInMidLeft;
    -moz-animation-name: fadeInMidLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
}

@-webkit-keyframes fadeInMidRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInMidRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInMidRight {
    -webkit-animation-name: fadeInMidRight;
    -moz-animation-name: fadeInMidRight;
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    -moz-animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    -moz-animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    -moz-animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    -moz-animation-name: fadeInRightBig;
}

@-webkit-keyframes tips {
    0% {
        box-shadow: 0 0 0 #f00;
    }

    25% {
        box-shadow: 0 0 8px #f00;
    }

    50% {
        box-shadow: 0 0 0 #f00;
    }

    100% {
        box-shadow: 0 0 8px #f00;
    }
}

@-moz-keyframes tips {
    0% {
        box-shadow: 0 0 0 #f00;
    }

    25% {
        box-shadow: 0 0 8px #f00;
    }

    50% {
        box-shadow: 0 0 0 #f00;
    }

    100% {
        box-shadow: 0 0 8px #f00;
    }
}

.tips {
    -webkit-animation: tips 1s;
    -moz-animation: tips 1s;
}

@-webkit-keyframes rotateZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@-moz-keyframes rotateZ {
    0% {
        -moz-transform: rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateZ(360deg);
    }
}

.rotateZ {
    -webkit-animation: rotateZ 1s;
    -moz-animation: rotateZ 1s;
}

@-webkit-keyframes rotateBig {
    0% {
        -webkit-transform: translate(0,-100px) rotate(0deg) scale(0.2);
    }

    100% {
        -webkit-transform: translate(0,0) rotate(720deg) scale(1);
    }
}

.rotateBig {
    -webkit-animation: rotateBig .5s;
    -moz-animation: rotateBig .5s;
}

@-webkit-keyframes bigSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate(0,0) scale(2);
    }

    50% {
        opacity: .5;
        -webkit-transform: translate(0,0) scale(3);
    }

    100% {
        -webkit-transform: translate(0,0) scale(1);
    }
}

.bigSmall {
    -webkit-animation: bigSmall .5s;
    -moz-animation: bigSmall .5s;
}

@-webkit-keyframes toBig {
    0% {
        opacity: 0;
        -webkit-transform: translate(0,0) scale(0.2);
    }
}

.toBig {
    -webkit-animation: toBig .5s;
    -moz-animation: toBig .5s;
}

@-webkit-keyframes toSmall {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.toSmall {
    -webkit-animation: toSmall .5s;
    -moz-animation: toSmall .5s;
}

@-webkit-keyframes flash {
    0%,50%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

@-moz-keyframes flash {
    0%,50%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

@-o-keyframes flash {
    0%,50%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%,50%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation: flash 1s;
    -moz-animation: flash 1s;
}

@-webkit-keyframes shake {
    0%,100% {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%,100% {
        -moz-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -moz-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%,100% {
        -o-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -o-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%,100% {
        transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation: shake 1s;
    -moz-animation: shake 1s;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
    }

    10%,20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
    }

    30%,50%,70%,90% {
        -webkit-transform: scale(1.1) rotate(3deg);
    }

    40%,60%,80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

@-moz-keyframes tada {
    0% {
        -moz-transform: scale(1);
    }

    10%,20% {
        -moz-transform: scale(0.9) rotate(-3deg);
    }

    30%,50%,70%,90% {
        -moz-transform: scale(1.1) rotate(3deg);
    }

    40%,60%,80% {
        -moz-transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -moz-transform: scale(1) rotate(0);
    }
}

@-o-keyframes tada {
    0% {
        -o-transform: scale(1);
    }

    10%,20% {
        -o-transform: scale(0.9) rotate(-3deg);
    }

    30%,50%,70%,90% {
        -o-transform: scale(1.1) rotate(3deg);
    }

    40%,60%,80% {
        -o-transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -o-transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        transform: scale(1);
    }

    10%,20% {
        transform: scale(0.9) rotate(-3deg);
    }

    30%,50%,70%,90% {
        transform: scale(1.1) rotate(3deg);
    }

    40%,60%,80% {
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

.tada {
    -webkit-animation: tada 1s;
    -moz-animation: tada 1s;
}

@-webkit-keyframes swing {
    20%,40%,60%,80%,100% {
        -webkit-transform-origin: top center;
    }

    20% {
        -webkit-transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes swing {
    20% {
        -moz-transform: rotate(15deg);
    }

    40% {
        -moz-transform: rotate(-10deg);
    }

    60% {
        -moz-transform: rotate(5deg);
    }

    80% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes swing {
    20% {
        -o-transform: rotate(15deg);
    }

    40% {
        -o-transform: rotate(-10deg);
    }

    60% {
        -o-transform: rotate(5deg);
    }

    80% {
        -o-transform: rotate(-5deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.swing {
    -webkit-animation: swing 1s;
    -moz-animation: swing 1s;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: translateX(0%);
    }

    15% {
        -webkit-transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        -webkit-transform: translateX(20%) rotate(3deg);
    }

    45% {
        -webkit-transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        -webkit-transform: translateX(10%) rotate(2deg);
    }

    75% {
        -webkit-transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes wobble {
    0% {
        -moz-transform: translateX(0%);
    }

    15% {
        -moz-transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        -moz-transform: translateX(20%) rotate(3deg);
    }

    45% {
        -moz-transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        -moz-transform: translateX(10%) rotate(2deg);
    }

    75% {
        -moz-transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        -moz-transform: translateX(0%);
    }
}

@-o-keyframes wobble {
    0% {
        -o-transform: translateX(0%);
    }

    15% {
        -o-transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        -o-transform: translateX(20%) rotate(3deg);
    }

    45% {
        -o-transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        -o-transform: translateX(10%) rotate(2deg);
    }

    75% {
        -o-transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        -o-transform: translateX(0%);
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.wobble {
    -webkit-animation: wobble 1s;
    -moz-animation: wobble 1s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.1);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation: pulse 1s;
    -moz-animation: pulse 1s;
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotateY(0);
        -webkit-animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -webkit-animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: perspective(400px) scale(1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-moz-keyframes flip {
    0% {
        -moz-transform: perspective(400px) rotateY(0);
        -moz-animation-timing-function: ease-out;
    }

    40% {
        -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -moz-animation-timing-function: ease-out;
    }

    50% {
        -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -moz-animation-timing-function: ease-in;
    }

    80% {
        -moz-transform: perspective(400px) rotateY(360deg) scale(.95);
        -moz-animation-timing-function: ease-in;
    }

    100% {
        -moz-transform: perspective(400px) scale(1);
        -moz-animation-timing-function: ease-in;
    }
}

@-o-keyframes flip {
    0% {
        -o-transform: perspective(400px) rotateY(0);
        -o-animation-timing-function: ease-out;
    }

    40% {
        -o-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -o-animation-timing-function: ease-out;
    }

    50% {
        -o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -o-animation-timing-function: ease-in;
    }

    80% {
        -o-transform: perspective(400px) rotateY(360deg) scale(.95);
        -o-animation-timing-function: ease-in;
    }

    100% {
        -o-transform: perspective(400px) scale(1);
        -o-animation-timing-function: ease-in;
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

.flip {
    -webkit-animation: flip 1s;
    -moz-animation: flip 1s;
}

@-webkit-keyframes flipinx {
    0% {
        -webkit-transform: perspective(400px) rotatex(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotatex(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotatex(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotatex(0deg);
        opacity: 1;
    }
}

@-moz-keyframes flipinx {
    0% {
        -moz-transform: perspective(400px) rotatex(90deg);
        opacity: 0;
    }

    40% {
        -moz-transform: perspective(400px) rotatex(-10deg);
    }

    70% {
        -moz-transform: perspective(400px) rotatex(10deg);
    }

    100% {
        -moz-transform: perspective(400px) rotatex(0deg);
        opacity: 1;
    }
}

@-o-keyframes flipinx {
    0% {
        -o-transform: perspective(400px) rotatex(90deg);
        opacity: 0;
    }

    40% {
        -o-transform: perspective(400px) rotatex(-10deg);
    }

    70% {
        -o-transform: perspective(400px) rotatex(10deg);
    }

    100% {
        -o-transform: perspective(400px) rotatex(0deg);
        opacity: 1;
    }
}

@keyframes flipinx {
    0% {
        transform: perspective(400px) rotatex(90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotatex(-10deg);
    }

    70% {
        transform: perspective(400px) rotatex(10deg);
    }

    100% {
        transform: perspective(400px) rotatex(0deg);
        opacity: 1;
    }
}

.flipinx {
    -webkit-animation: flipinx 1s;
    -moz-animation: flipinx 1s;
}

@-webkit-keyframes flipiny {
    0% {
        -webkit-transform: perspective(400px) rotatey(90deg);
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotatey(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotatey(10deg);
    }

    100% {
        -webkit-transform: perspective(400px) rotatey(0deg);
        opacity: 1;
    }
}

@-moz-keyframes flipiny {
    0% {
        -moz-transform: perspective(400px) rotatey(90deg);
        opacity: 0;
    }

    40% {
        -moz-transform: perspective(400px) rotatey(-10deg);
    }

    70% {
        -moz-transform: perspective(400px) rotatey(10deg);
    }

    100% {
        -moz-transform: perspective(400px) rotatey(0deg);
        opacity: 1;
    }
}

@-o-keyframes flipiny {
    0% {
        -o-transform: perspective(400px) rotatey(90deg);
        opacity: 0;
    }

    40% {
        -o-transform: perspective(400px) rotatey(-10deg);
    }

    70% {
        -o-transform: perspective(400px) rotatey(10deg);
    }

    100% {
        -o-transform: perspective(400px) rotatey(0deg);
        opacity: 1;
    }
}

@keyframes flipiny {
    0% {
        transform: perspective(400px) rotatey(90deg);
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotatey(-10deg);
    }

    70% {
        transform: perspective(400px) rotatey(10deg);
    }

    100% {
        transform: perspective(400px) rotatey(0deg);
        opacity: 1;
    }
}

.flipiny {
    -webkit-animation: flipiny 1s;
    -moz-animation: flipiny 1s;
}

@-webkit-keyframes flipoutx {
    0% {
        -webkit-transform: perspective(400px) rotatex(0deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotatex(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes hinge {
    0% {
        -webkit-transform: rotate(0);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    20%,60% {
        -webkit-transform: rotate(80deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    40% {
        -webkit-transform: rotate(60deg);
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    80% {
        -webkit-transform: rotate(60deg) translateY(0);
        opacity: 1;
        -webkit-transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
    }

    100% {
        -webkit-transform: translateY(700px);
        opacity: 0;
    }
}

@-moz-keyframes hinge {
    0% {
        -moz-transform: rotate(0);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    20%,60% {
        -moz-transform: rotate(80deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    40% {
        -moz-transform: rotate(60deg);
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    80% {
        -moz-transform: rotate(60deg) translateY(0);
        opacity: 1;
        -moz-transform-origin: top left;
        -moz-animation-timing-function: ease-in-out;
    }

    100% {
        -moz-transform: translateY(700px);
        opacity: 0;
    }
}

@-o-keyframes hinge {
    0% {
        -o-transform: rotate(0);
        -o-transform-origin: top left;
        -o-animation-timing-function: ease-in-out;
    }

    20%,60% {
        -o-transform: rotate(80deg);
        -o-transform-origin: top left;
        -o-animation-timing-function: ease-in-out;
    }

    40% {
        -o-transform: rotate(60deg);
        -o-transform-origin: top left;
        -o-animation-timing-function: ease-in-out;
    }

    80% {
        -o-transform: rotate(60deg) translateY(0);
        opacity: 1;
        -o-transform-origin: top left;
        -o-animation-timing-function: ease-in-out;
    }

    100% {
        -o-transform: translateY(700px);
        opacity: 0;
    }
}

@keyframes hinge {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%,60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    80% {
        transform: rotate(60deg) translateY(0);
        opacity: 1;
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateY(700px);
        opacity: 0;
    }
}

.hinge {
    -webkit-animation: hinge 1s;
    -moz-animation: hinge 1s;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: skewX(9deg);
    }

    10% {
        -webkit-transform: skewX(-8deg);
    }

    20% {
        -webkit-transform: skewX(7deg);
    }

    30% {
        -webkit-transform: skewX(-6deg);
    }

    40% {
        -webkit-transform: skewX(5deg);
    }

    50% {
        -webkit-transform: skewX(-4deg);
    }

    60% {
        -webkit-transform: skewX(3deg);
    }

    70% {
        -webkit-transform: skewX(-2deg);
    }

    80% {
        -webkit-transform: skewX(1deg);
    }

    90% {
        -webkit-transform: skewX(0deg);
    }

    100% {
        -webkit-transform: skewX(0deg);
    }
}

@-moz-keyframes wiggle {
    0% {
        -moz-transform: skewX(9deg);
    }

    10% {
        -moz-transform: skewX(-8deg);
    }

    20% {
        -moz-transform: skewX(7deg);
    }

    30% {
        -moz-transform: skewX(-6deg);
    }

    40% {
        -moz-transform: skewX(5deg);
    }

    50% {
        -moz-transform: skewX(-4deg);
    }

    60% {
        -moz-transform: skewX(3deg);
    }

    70% {
        -moz-transform: skewX(-2deg);
    }

    80% {
        -moz-transform: skewX(1deg);
    }

    90% {
        -moz-transform: skewX(0deg);
    }

    100% {
        -moz-transform: skewX(0deg);
    }
}

@-o-keyframes wiggle {
    0% {
        -o-transform: skewX(9deg);
    }

    10% {
        -o-transform: skewX(-8deg);
    }

    20% {
        -o-transform: skewX(7deg);
    }

    30% {
        -o-transform: skewX(-6deg);
    }

    40% {
        -o-transform: skewX(5deg);
    }

    50% {
        -o-transform: skewX(-4deg);
    }

    60% {
        -o-transform: skewX(3deg);
    }

    70% {
        -o-transform: skewX(-2deg);
    }

    80% {
        -o-transform: skewX(1deg);
    }

    90% {
        -o-transform: skewX(0deg);
    }

    100% {
        -o-transform: skewX(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: skewX(9deg);
    }

    10% {
        transform: skewX(-8deg);
    }

    20% {
        transform: skewX(7deg);
    }

    30% {
        transform: skewX(-6deg);
    }

    40% {
        transform: skewX(5deg);
    }

    50% {
        transform: skewX(-4deg);
    }

    60% {
        transform: skewX(3deg);
    }

    70% {
        transform: skewX(-2deg);
    }

    80% {
        transform: skewX(1deg);
    }

    90% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

.wiggle {
    -webkit-animation: wiggle 1s;
    -moz-animation: wiggle 1s;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1);
    }

    40% {
        -webkit-transform: scale3d(0.75,1.25,1);
        transform: scale3d(0.75,1.25,1);
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1);
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1);
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1);
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1,1,1);
        -ms-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        -ms-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1);
    }

    40% {
        -webkit-transform: scale3d(0.75,1.25,1);
        -ms-transform: scale3d(0.75,1.25,1);
        transform: scale3d(0.75,1.25,1);
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        -ms-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1);
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        -ms-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1);
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        -ms-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1);
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        -ms-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

.rubberBand {
    -webkit-animation: rubberBand 1s;
    -moz-animation: rubberBand 1s;
}

@-webkit-keyframes rotatein {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotatein {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotatein {
    0% {
        -o-transform-origin: center center;
        -o-transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: center center;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotatein {
    0% {
        transform-origin: center center;
        transform: rotate(-200deg);
        opacity: 0;
    }

    100% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotatein {
    -webkit-animation: rotatein 1s;
    -moz-animation: rotatein 1s;
}

@-webkit-keyframes rotateinupleft {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateinupleft {
    0% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateinupleft {
    0% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateinupleft {
    0% {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateinupleft {
    -webkit-animation: rotateinupleft 1s;
    -moz-animation: rotateinupleft 1s;
}

@-webkit-keyframes rotateinupright {
    0% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateinupright {
    0% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateinupright {
    0% {
        -o-transform-origin: right bottom;
        -o-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: right bottom;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateinupright {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateinupright {
    -webkit-animation: rotateinupright 1s;
    -moz-animation: rotateinupright 1s;
}

@-webkit-keyframes rotateindownleft {
    0% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateindownleft {
    0% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: left bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateindownleft {
    0% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: left bottom;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateindownleft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }

    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateindownleft {
    -webkit-animation: rotateindownleft 1s;
    -moz-animation: rotateindownleft 1s;
}

@-webkit-keyframes rotateindownright {
    0% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes rotateindownright {
    0% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -moz-transform-origin: right bottom;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}

@-o-keyframes rotateindownright {
    0% {
        -o-transform-origin: right bottom;
        -o-transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        -o-transform-origin: right bottom;
        -o-transform: rotate(0);
        opacity: 1;
    }
}

@keyframes rotateindownright {
    0% {
        transform-origin: right bottom;
        transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1;
    }
}

.rotateindownright {
    -webkit-animation: rotateindownright 1s;
    -moz-animation: rotateindownright 1s;
}

@-webkit-keyframes lightspeedin {
    0% {
        -webkit-transform: translatex(100%) skewx(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: translatex(-20%) skewx(30deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: translatex(0%) skewx(-15deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translatex(0%) skewx(0deg);
        opacity: 1;
    }
}

@-moz-keyframes lightspeedin {
    0% {
        -moz-transform: translatex(100%) skewx(-30deg);
        opacity: 0;
    }

    60% {
        -moz-transform: translatex(-20%) skewx(30deg);
        opacity: 1;
    }

    80% {
        -moz-transform: translatex(0%) skewx(-15deg);
        opacity: 1;
    }

    100% {
        -moz-transform: translatex(0%) skewx(0deg);
        opacity: 1;
    }
}

@-o-keyframes lightspeedin {
    0% {
        -o-transform: translatex(100%) skewx(-30deg);
        opacity: 0;
    }

    60% {
        -o-transform: translatex(-20%) skewx(30deg);
        opacity: 1;
    }

    80% {
        -o-transform: translatex(0%) skewx(-15deg);
        opacity: 1;
    }

    100% {
        -o-transform: translatex(0%) skewx(0deg);
        opacity: 1;
    }
}

@keyframes lightspeedin {
    0% {
        transform: translatex(100%) skewx(-30deg);
        opacity: 0;
    }

    60% {
        transform: translatex(-20%) skewx(30deg);
        opacity: 1;
    }

    80% {
        transform: translatex(0%) skewx(-15deg);
        opacity: 1;
    }

    100% {
        transform: translatex(0%) skewx(0deg);
        opacity: 1;
    }
}

.lightspeedin {
    -webkit-animation: lightspeedin .5s;
    -moz-animation: lightspeedin .5s;
}

@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heartbeat {
    -webkit-animation-name: heartbeat;
    animation-name: heartbeat;
}